src/main/resources/wsdl/repair_request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://repair_service.com/soap"
           xmlns:tns="http://repair_service.com/soap"
           elementFormDefault="qualified">

    <xs:element name="CreateRepairRequestRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deviceSerialNumber" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="modelId" type="xs:long"/>
                <xs:element name="userId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateRepairRequestResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="trackingId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
